

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    width: 70%;
    margin: auto;
}



main {
    background-color: rgba(195, 3, 3, 0.902);
    max-width: 1920px;
    min-height: 100vh;
}

.title-pages {
    padding-top: 20px;
}

/* ESTILO EN INDEX */
h1 {
    font-size: larger !important;
    text-align: center;
    text-decoration: underline;
}

.caja1 {
    font-size: larger;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

img {
    height: auto;
}

.text-white {
    color: white;
}

.my-carousel-inner {
    display: flex;
    overflow: hidden;
    width: 555px;
    margin: auto;
}

.my-carousel-item {
    width: 555px;
    height: 300px;
}

@keyframes slide {
0% {
        transform: translate(0, 0);
}
100% {
        transform: translate(-1060px, 0);
}
}

@keyframes slideRight {
    0% {
        transform: translate(-800px, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
    }
    @keyframes slideTop {
    0% {
        transformY: translateY(-100px);
        opacity: 0;
    }
    100% {
        transformY: translateY(0px);
        opacity: 1;
    }
}

.animated-top {
    animation: slideTop 4s linear 0s; 
}

.animated-right {
    animation: slideRight 4s linear 0s; 
}

.my-carousel-item {
    animation: slide 10s linear 0s infinite;
}

.carousel-contenedor {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

ul li {
    display: inline-block;
}

/* ESTILO EN LOCALES */
.container-locales {
    display: flex;
    margin: 50;
}

.mapa > iframe {
    width: 600px;
}

.caja1locales {
    display: flex;
    font-size: larger;
    text-align: 100px;
    margin: 100px;
    width: 500px;
    gap: 50px;
}

.caja2locales {
    display: flex;
    font-size: larger;
    text-align: 100px;
    margin: 100px;
    width: 500px;
    gap: 50px;
}

.mapa {
    display: flex;
    padding: 50px 50px;
    top: 500px;
    margin-top: -400px;
    margin-left: 700px;
}

/* ESTILO EN PRODUCTOS */
#imagenes_productos {
    margin: 0px auto;
    padding: 20px 0px;
    display: grid;
    grid-template-columns: 100px repeat(3, flex);
    grid-template-rows: 100px repeat(2, flex);
    grid-template-areas: "taladro18 amoladora230 combo18" "taladro220 llaveimpacto circular";
}

.img1 {
    grid-area: taladro18;
}

.img2 {
    grid-area: amoladora230;
}

.img3 {
    grid-area: combo18;
}

.img4 {
    grid-area: taladro220;
}

.img5 {
    grid-area: llaveimpacto;
}

.img6 {
    grid-area: circular;
}

.img7 {
    grid-area: amoladora220;
}

/* ESTILO EN CONTACTO */
.container-contacto {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.caja-contacto {
    background-color: rgba(255, 255, 255, 0.5882352941);
    color: black;
    padding: 15px 10px;
    border-radius: 5px;
}

.caja1contacto {
    margin-top: 50px;
    display: flex;
    text-align: 50px;
    flex-direction: column;
    width: 47%;
    padding-right: 30px;
}

.caja1contacto > input {
    margin: 15px 0px;
    height: 25px;
}

.caja2contacto {
    margin-top: 50px;
    width: 50%;
    text-align: 50px;
}

.mt-15 {
    margin-top: 15px;
}

/* ESTILO EN FAQ */
.container-faq {
    display: flex;
    color: black;
    margin-top: 20px;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.titulo-faq {
    margin: 15px;
    text-align: center;
}

.caja1-faq {
    background-color: rgba(255, 255, 255, 0.5882352941);
    margin-top: 50px;
    max-width: 250px;
    left: 75px;
    border-radius: 5px;
    padding: 5px;
}

.caja2-faq {
    background-color: rgba(255, 255, 255, 0.5882352941);
    margin-top: 50px;
    max-width: 250px;
    top: 120px;
    left: 500px;
    border-radius: 5px;
    padding: 5px;
}

.caja3-faq {
    background-color: rgba(255, 255, 255, 0.5882352941);
    margin-top: 50px;
    max-width: 250px;
    top: 10px;
    left: 600px;
    border-radius: 5px;
    padding: 5px;
}

/*# sourceMappingURL=style.css.map */
